

@media screen and (max-width: 1024px) {

    .container__header {
        max-width: 1024px;
    }

    .container {
        max-width: 1024px;
        padding: 0 30px;
    }

    /* Nine nine problems */

    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 456px;
    }

    /* benefits adaptive */

    .main-img-gallery__benefits {
        width: 100%;
    }

    .benefits .wrapper-container__benefits {
        gap: 10px;
    }

    .benefits .gallery-hover__benefits {
        max-width: 360px;
        min-width: 0;
    }
}

@media screen and (max-width: 960px) {

    /* Responsive design */

    .responsive-design .text-responsive-design {
        margin-left: 20px;
    }

    /* Nine nine problems */

    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 435px;
    }

}

@media screen and (max-width: 796px) {
    .container__header {
        max-width: 796px;
    }
    .container {
        max-width: 796px;
    }
    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 350px;
    }
}

@media screen and (max-width: 640px) {

    header .main-title__header {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 30px;
        color: #353535;
        /*
        letter-spacing: 30px;
        line-height: 100px;
        */
    }

    .skills .wrapper-content__skills {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .skills .icon-content__skills {
        background-size: 20%;
    }

    .skills .line-content__skills {
        padding-left: 47%;
    }

    .skills .text-content__skills {
        max-width: none;
        text-decoration: none;
        text-align: center;
        margin-bottom: 50px;
    }

    .responsive-design .title-responsive-design {
        font-size: 18px;
        margin-left: 10px;
    }
    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 270px;
    }
    .subscribe #area-name {
        margin-bottom: 30px;
        width: 100%;
    }
    .subscribe #button-send {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {

    .container__header {
        max-width: 480px;
    }
    header nav {
        display: none;
    }
    header .button-learn-more__header {
        padding: 20px 140px;
    }
    .container {
        max-width: 480px;
    }

    header {
        padding: 30px 0 100px 30px;
    }
    header nav {
        margin-bottom: 20px;
    }
    header .main-title__header {
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 20px;
    }
    .creative-template {
        padding: 30px 0 150px;
    }
    .creative-template .text-creative__template {
        margin-bottom: 30px;
    }
    .skills .icon-content__skills {
        background-size: 30%;
    }
    .benefits .wrapper-container__benefits {
        flex-direction: column;
        gap: 10px;
    }
    .benefits .gallery-hover__benefits {
        margin: 0 28px;
    }
    .benefits .text-item__benefits {
        margin-bottom: 60px;
    }
    .benefits .item__benefits {
        width: 100%;
    }
    .team .wrapper-content-crew__team {
        flex-direction: column;
    }
    .responsive-design {
        padding-bottom: 50px;
    }
    .responsive-design .wrapper-responsive-design {
        flex-direction: column;
    }
    .responsive-design .wrapper-responsive-design:after {
        display: none;
    }
    .responsive-design .item-responsive-design-2,
    .responsive-design .item-responsive-design-1 {
        width: 100%;
    }
    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 186px;
    }
    .drop .wrapper-main-content__team {
        flex-direction: column;
        align-items: center;
    }
    .team .wrapper-icons-crew__team {
        gap: 20px;
    }
    footer .wrapper__footer {
        flex-direction: column;
    }
    footer .item-terms__footer {
        margin-bottom: 20px;
    }
    .drop .wrapper-links-network__team {
        gap: 20px;
    }

}

@media screen and (max-width: 320px) {
    .container__header {
        max-width: 320px;
    }
    .container {
        max-width: 320px;
        padding: 0 15px;
    }
    header {
        padding: 10px 0 80px 10px;
    }
    header .main-title__header {
        letter-spacing: 10px;
    }
    header .main-title__header {
        font-size: 12px;
    }
    header .button-learn-more__header {
        padding: 20px 50px;
    }
    .creative-template .text-creative__template {
        margin-bottom: 140px;
    }
    .subscribe #area-name {
        padding: 30px 0;
        width: 100%;
    }
    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 100px;
    }
    .skills .icon-content__skills {
        background-size: 40%;
    }
    .skills .line-content__skills {
        padding-left: 45%;
    }
    .nine-nine-problems .nine-problems-figure {
        margin: 43px 0 0 120px;
    }
}
